* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    color: #333;
    font-size: 14px;
    font-family: 'NotoSansCJK', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 覆盖 Element Plus 的默认 label 样式 */
.el-form-item__label {
    font-weight: bold !important;
    color: #333;
}

.el-button.is-text:not(.is-disabled):hover{
    background-color: transparent !important;
    color: var(--el-color-primary) !important;
}

/* 导入思源黑体 (Noto Sans CJK) 作为基础正文 */
@font-face {
    font-family: 'NotoSansCJK';
    src: url('@/assets/fonts/SiYuanHeiTiGoogleBan/NotoSansCJK-Regular-1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* 导入得意黑 (Smiley Sans) 作为标题或装饰字体 */
@font-face {
    font-family: 'SmileySans'; /* 定义字体别名 */
    src: url('@/assets/fonts/DeYiHei/SmileySans-Oblique-3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}